@font-face{
    font-family: 'font-roboto-bold';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-family: "font-roboto-regular";
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "font-roboto-bold", "font-roboto-regular";
    color: hsl(235, 18%, 26%);
}

body {
    background-color: hsl(235, 18%, 26%);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*white container box*/
main{
    width: 100%;
    padding: 2rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
}

.imagen-mobile{
    display: none;
}
.imagen-desktop{
    display: block;
}
/*phone design*/
@media (max-width: 320px){
    body{
        background-color: white;
    }
    main{
        padding: 0;
        gap: 0px;
        height: 100%;
        
    }
    .svg-container img{
        width: 100%;
        height: 20%;

    }
    .imagen-desktop{
        display: none;
    }
    .imagen-mobile{
        display: block;
    }
    h1{
        font-size: 2rem;
        margin-left: 20px;
        margin-top: 20px;
    }
    .initial-p{
        margin-bottom: 10px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .updates-list {
        margin-bottom: 20px;
        margin-left: 30px;
        margin-top: 15px;
        ul{
            font-size: 1rem;
        }
    }
    .email-header{
        font-size: 0.6rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-left: 10px;
        
    }
    .email-box {
        text-align: center;
    }
    .email-box input[type="email"] {
        
        width: 300px;
        padding: 10px 10px;
        border-radius: 5px;
        font-size: 18px;
        margin-left: 1px;
        margin-top: 10px;
        
    }
    .sub-box button[type="submit"] {
        background-color: hsl(232, 31%, 20%);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        margin-left: 12px;
        margin-bottom: 100px;
        margin-top: 10px;
    }
    .sub-box button[type="submit"]:hover {
        background-color: #444;
    }
}
